$color-black: #000000;
$color-white: #FFFFFF;
$color-darkblue: #001155;

body {
  margin: 0;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  color: $color-black;
  font-family: 'TheSaB5', 'Trebuchet MS', Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.scs-main-container {
  width: 980px;
  margin: 0 auto;

  .scs-main-header, .scs-main-footer {
    background-color: $color-darkblue;
    color: $color-white;
    padding: 15px 20px;
    height: 70px;

    .header-title {
      float: left;
    }

    .header-nav {
      float:  right;
    }
  }

  .navbar {
    //height: 20px;
    //float: right;

    .nav {
      //list-style-type: none;
      //margin: 0;
      //padding: 0;
      //background-color: #dddddd;

      .nav-li {
        /*float: left;
        display: inline;

        a, a:visited, a:link {
          text-decoration: none;
          width: 60px;
          padding: 8px;
          background-color: #dddddd;
          color: #111111;
        }

        a:active, a:hover {
          text-decoration: none;
          width: 60px;
          padding: 8px;
          background-color: #686868;
          color: #f6f6f6;
        }*/
      }
    }
  }

  .scs-main-body {
    margin: 30px 0;
    min-height: 100px;

    .partial-container {
      width: 980px;

      .login-form {
        width: 200px;
      }
    }
  }

  .scs-main-footer {

  }
}